.search-bar {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    padding-top: 16px;
  }
  
  .search-input {
    padding: 10px 16px; /* Adjust padding for a smaller size */
    width: 300px; /* Set a specific width */
    max-width: 100%; /* Limit the width to fit within the container */
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #f3f3f3;
    color: #333;
  }
  
  .search-input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-size: 16px;
    cursor: pointer;
  }
  
  .search-input::-webkit-search-cancel-button:hover {
    opacity: 0.8;
  }
  
  .search-input::-webkit-search-cancel-button:active {
    opacity: 0.6;
  }
  